<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Fuel Indeed-Online Fuel Booking Platform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>fuel.in.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelStationLogin</display-name>
    <servlet-name>FuelStationLogin</servlet-name>
    <servlet-class>fuel.in.station.FuelStationLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelStationLogin</servlet-name>
    <url-pattern>/FuelStationLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelStationRegister</display-name>
    <servlet-name>FuelStationRegister</servlet-name>
    <servlet-class>fuel.in.station.FuelStationRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelStationRegister</servlet-name>
    <url-pattern>/FuelStationRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPetrol</display-name>
    <servlet-name>AddPetrol</servlet-name>
    <servlet-class>fuel.in.station.AddPetrol</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPetrol</servlet-name>
    <url-pattern>/AddPetrol</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDiesel</display-name>
    <servlet-name>AddDiesel</servlet-name>
    <servlet-class>fuel.in.station.AddDiesel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDiesel</servlet-name>
    <url-pattern>/AddDiesel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPetrolRates</display-name>
    <servlet-name>AddPetrolRates</servlet-name>
    <servlet-class>fuel.in.station.AddPetrolRates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPetrolRates</servlet-name>
    <url-pattern>/AddPetrolRates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDieselRates</display-name>
    <servlet-name>AddDieselRates</servlet-name>
    <servlet-class>fuel.in.station.AddDieselRates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDieselRates</servlet-name>
    <url-pattern>/AddDieselRates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDeliveryPerson</display-name>
    <servlet-name>AddDeliveryPerson</servlet-name>
    <servlet-class>fuel.in.station.AddDeliveryPerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeliveryPerson</servlet-name>
    <url-pattern>/AddDeliveryPerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeFuelStationPassword</display-name>
    <servlet-name>ChangeFuelStationPassword</servlet-name>
    <servlet-class>fuel.in.station.ChangeFuelStationPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeFuelStationPassword</servlet-name>
    <url-pattern>/ChangeFuelStationPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryPersonLogin</display-name>
    <servlet-name>DeliveryPersonLogin</servlet-name>
    <servlet-class>fuel.in.dperson.DeliveryPersonLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryPersonLogin</servlet-name>
    <url-pattern>/DeliveryPersonLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterDeliveryCode</display-name>
    <servlet-name>EnterDeliveryCode</servlet-name>
    <servlet-class>fuel.in.dperson.EnterDeliveryCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterDeliveryCode</servlet-name>
    <url-pattern>/EnterDeliveryCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assign</display-name>
    <servlet-name>Assign</servlet-name>
    <servlet-class>fuel.in.station.Assign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assign</servlet-name>
    <url-pattern>/Assign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeDeliveryPersonPassword</display-name>
    <servlet-name>ChangeDeliveryPersonPassword</servlet-name>
    <servlet-class>fuel.in.dperson.ChangeDeliveryPersonPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDeliveryPersonPassword</servlet-name>
    <url-pattern>/ChangeDeliveryPersonPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>fuel.in.user.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>fuel.in.user.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterCityName</display-name>
    <servlet-name>EnterCityName</servlet-name>
    <servlet-class>fuel.in.user.EnterCityName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterCityName</servlet-name>
    <url-pattern>/EnterCityName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newservlet</display-name>
    <servlet-name>newservlet</servlet-name>
    <servlet-class>fuel.in.user.newservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newservlet</servlet-name>
    <url-pattern>/newservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeUserPassword</display-name>
    <servlet-name>ChangeUserPassword</servlet-name>
    <servlet-class>fuel.in.user.ChangeUserPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserPassword</servlet-name>
    <url-pattern>/ChangeUserPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rushi</display-name>
    <servlet-name>rushi</servlet-name>
    <servlet-class>fuel.in.dperson.rushi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rushi</servlet-name>
    <url-pattern>/rushi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterAreaName</display-name>
    <servlet-name>EnterAreaName</servlet-name>
    <servlet-class>fuel.in.user.EnterAreaName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterAreaName</servlet-name>
    <url-pattern>/EnterAreaName</url-pattern>
  </servlet-mapping>
</web-app>